services:
  db:
    image: postgres:15
    container_name: recipes_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: recipes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
