@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #171717;
    --background-main: #fff;
    --foreground: #171717;
    --light: #fff;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@layer components {
    .wrapper {
        @apply max-w-[1116px] w-full px-2 mx-auto;
    }

    /* FORMS */
    .form-field {
        @apply block relative;
    }

    .form-field-label {
        @apply block text-xs font-light mb-1 text-gray-600;
    }

    .form-field.error .form-field-label {
        @apply text-red-400;
    }

    .form-field-input {
        @apply block w-full px-1.5 py-2 rounded-md
            text-base/5 bg-slate-100 font-normal mb-1.5 placeholder:opacity-40 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-blue-300;
    }

    .form-field-textarea {
        @apply block w-full px-1.5 py-2 rounded-md min-h-[384px]
            text-base/5 bg-slate-100 font-normal mb-1.5 placeholder:opacity-40 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-1 focus-visible:ring-blue-300;
    }

    .form-field-input-no-mb {
        @apply mb-0;
    }

    .form-field.error .form-field-input {
        @apply text-red-400 bg-red-100 focus-visible:ring-red-400;
    }

    .form-field-error {
        @apply min-h-[16px] text-sm leading-none text-red-400;
    }

    .modal-backdrop {
        @apply fixed inset-0 bg-black/40 data-[closed]:opacity-0 transition-opacity;
    }

    .menu-item-amber:hover + .menu-item {
        @apply border-l-amber-600 lg:border-t-amber-600 lg:border-l-gray-200;
    }

    .menu-item-violet:hover + .menu-item {
        @apply border-l-violet-600 lg:border-t-violet-600 lg:border-l-gray-200;
    }

    .menu-item-indigo:hover + .menu-item {
        @apply border-l-indigo-600 lg:border-t-indigo-600 lg:border-l-gray-200;
    }

    .menu-item-rose:hover + .menu-item {
        @apply border-l-rose-600 lg:border-t-rose-600 lg:border-l-gray-200;
    }

    .menu-item-danger:hover + .menu-item {
        @apply border-l-red-600 lg:border-t-red-600 lg:border-l-gray-200;
    }

    .menu-item-green:hover + .menu-item {
        @apply border-l-green-600 lg:border-t-green-600 lg:border-l-gray-200;
    }

    .menu-item-emerald:hover + .menu-item {
        @apply border-l-emerald-600 lg:border-t-emerald-600 lg:border-l-gray-200;
    }

    .menu-item-black:hover + .menu-item {
        @apply border-l-black lg:border-t-black lg:border-l-gray-200;
    }
}
