apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: recipes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: eugenefrost/recipes-web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
